<div class="container">
    <div class="card-title m-1">
      <div class="fs-2 fw-medium" style="color: var(--primary-color);">Bio</div>
      <div class="fs-4 fw-medium" style="margin-top: -.6rem; color: var(--secondary-color);">Personal</div>
    </div>
  
    <div class="description">
        <div class="mt-2 fw-ligh" style="font-size: smaller; text-align: justify;">
            Mechatronic engineer and Electronic Development Technologist, dedicated and passionate about engineering and software development. My life motto is "living to serve", always seeking great challenges where I can contribute my values, initiative, and creativity. I’m a quick learner with outstanding interpersonal skills and a proactive, active, and initiative-driven attitude in everything I do. 
        </div>
    </div>   
  </div>
    
 
    