<div id="MyModal" class="modal">
  <div class="modal-content">
    <header class="d-flex align-items-center justify-content-between p-3">
      <div id="myBtn" class="d-flex"> </div>
      <div class="fs-5 fw-lighter title">CV</div>
      <button [matTooltip]=" 'BUTTON_CLOSE' | translate" matTooltipPosition="below"><span class="header-btn material-icons fs-6 fw-lighter" mat-dialog-close >close</span></button>
    </header>
    <div class="modal-body">
      <embed src="../../../assets/CV Angel Moreno.pdf" id="vistaPrevia" type="application/pdf" style="width: 100%; height: 82vh;">
    </div>
  </div>
</div>
  