<header class="d-flex align-items-center justify-content-between p-3">
    <button id="myBtn" (click)="openProjectModal()"  [matTooltip]=" 'INFO' | translate" matTooltipPosition="below"><span class="material-icons fs-6 fw-lighter">info</span></button>    
    <div class="fs-5 fw-lighter title">{{"HEADER_TITLE" | translate}}</div>
    <div class="d-flex ">
        <button (click)="toggleTheme()">
            <span class="material-icons fs-6 fw-lighter">{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</span>
        </button>

        <button (click)="toggleLanguage()">
            <span class="material-icons material-symbols-outlined fs-5 fw-lighter">{{ currentLang === 'en' ? 'language_spanish' : 'language_us' }}</span>
        </button>
    </div>
</header>