<div class="splash-screen">
    <button class="button" data-text="Awesome">
        <span class="actual-text">&nbsp;Mocadev&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;Mocadev&nbsp;</span>
    </button>

    <div class="particles">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
      </div>
</div>