@import '../../../assets/styles/vars.scss';

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  z-index: 9999;
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: var(--primary-color);
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.particle {
  position: absolute;
  width: 0.2em;
  height: 0.2em;
  background-color: var(--primary-color);
  border-radius: 50%;
  opacity: 0;
  animation: particle-animation 2s infinite linear;
}

.particle:nth-child(1) {
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}

.particle:nth-child(2) {
  top: 30%;
  left: 60%;
  animation-delay: 0.5s;
}

.particle:nth-child(3) {
  top: 70%;
  left: 30%;
  animation-delay: 1s;
}

.particle:nth-child(4) {
  top: 90%;
  left: 90%;
  animation-delay: 1.5s;
}

.particle:nth-child(5) {
  top: 50%;
  left: 50%;
  animation-delay: 2s;
}

.particle:nth-child(6) {
  top: 20%;
  left: 2ch;
  animation-delay: 1.5s;
}

.particle:nth-child(7) {
  top: 60%;
  left: 60%;
  animation-delay: 2s;
}

@keyframes particle-animation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(2em, 2em);
  }
}
  