<div id="myModal" class="modal">
  <div class="modal-content">
    <header class="d-flex align-items-center justify-content-between p-3">
      <div class="fw-lighter fs-6">v0.4.0</div>
      <div class="fs-6 fw-lighter title">{{ "MODAL_INFO_TITLE" | translate}}</div>
      <button [matTooltip]=" 'BUTTON_CLOSE' | translate" matTooltipPosition="below"><span class="header-btn material-icons fs-6 fw-lighter" mat-dialog-close >close</span></button>
    </header>
    <div class="modal-body">
      <h3>Angel Israel Moreno Castellanos</h3>
      <p class="description">{{ "MODAL_INFO_DESCRIPT" | translate }}</p>
      <img src="../../../assets/img/Angel_Moreno.png" alt="">
    </div>
  </div>
</div>