<div id="myModal" class="modal" [ngStyle]="{'display': display}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="modal-body">
      <p class="small-text">Developer by:</p>
      <h1>Angel Israel Moreno Castellanos</h1>
      <p class="description">
        The purpose of this portfolio is to provide a comprehensive overview of my skills and expertise in software development. Here, you will not only find a showcase of my technical abilities and projects but also a representation of my passion and dedication to programming. This space is designed to reflect who I am both as a professional and as an individual, highlighting my commitment to excellence, innovation, and continuous learning. Through this portfolio, I hope you can gain a deeper understanding of my experience, my approach to work, and my enthusiasm for contributing to meaningful projects in the field of software development.
      </p>
    </div>
  </div>
</div>
