@import '../../../assets/styles/vars.scss';

nav{
  left: 0px;
  transform: translateX(0%);
  position: fixed;
  width: 100%;
  border-radius: 0px !important; 
  height: 100vh;
  border: 1px solid var(--primary-color);
  z-index: 2;

}

.navDrawer-content{
  flex: 0 1 auto;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 90%;
}


@media only screen and (max-width: 768px){
  nav{
    position: fixed;
    display: block;
    z-index: 2000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;  
    height: 100%;
  }

}