.container {
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .card-title {
    position: absolute;
    top: 0;  
    left: 0;
    width: 100%;
    z-index: 2;
    height: auto;
    margin-top: 1rem !important;
  }

  .name{
    color: var(--primary-color);
  }

  .subname{
    margin-top: -.6rem; 
    color: var(--secondary-color);
  }
  
  .project {
    flex: 1;
    z-index: 1;
    padding: 1rem;
  }
  
  .title {
    text-align: start;
  }
  
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover {
    color: var(--accent-color);
  }

  .description{
    font-size: smaller !important;
    text-align: justify;
  }
  
  .next {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  @media (max-width: 1350px) {
    .card-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .name{
      margin-right: 1rem;
      font-size: larger !important;
    }
  
    .subname{
      margin-top: 0px;
      font-size: larger !important;
    }
  
    .project {
      padding: 0.75rem;
    }

    .description{
      font-size: small !important;
    }
  
    button {
      font-size: 20px;
    }
  }
  
  @media (max-width: 780px) {

  
    .project {
      margin-top: 2rem;
      padding: 0.5rem;
    }
  
    button {
      font-size: 18px;
    }
  }