<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" mat-dialog-close>&times;</span>
        <div class="modal-body">
            <h1>{{ data.title }}</h1>
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  @for (image of images; track image; let i = $index) {
                    <button type="button" 
                            [attr.data-bs-target]="'#carouselExampleIndicators'" 
                            [attr.data-bs-slide-to]="i" 
                            [class.active]="i === 0" 
                            [attr.aria-current]="i === 0 ? 'true' : null" 
                            [attr.aria-label]="'Slide ' + (i + 1)">
                    </button>
                  }
                </div>
                <div class="carousel-inner">
                    @for (image of images; track image; let i = $index) {
                      <div class="carousel-item" [class.active]="i === 0">
                        <img [src]="image.src" class="d-block w-100" [alt]="image.alt">
                      </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="link">
            <a class="link-button" [href]="data.link" target="_blank">Visit page</a>
        </div>
    </div>
</div>