.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    overflow: hidden !important;
    width: 100% !important;
}

.panel-container {
    display: flex;
    flex: 1; /* Ocupa todo el espacio restante vertical */
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: .5rem;
    align-items: center;
    justify-content: center;
}

.control{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider{
    width: 98%;
    border-top: 1px solid var(--primary-color);
}
  
.footer-text{
  font-size: small;
}

.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: linear-gradient(var(--primary-color) 10%, var(--primary-color));
    filter: blur(150px);
    transition: all 450ms ease-out;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 1;
}


.svg-frame {
    position: relative;
    width: 210px;
    height: 210px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
  }
    
  .svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
  }
  
  .svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
  }
  
  .svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
  }
  
  #out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: var(--accent-color);
  }
    
  #inner3,
  #inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #center1 {
    fill: var(--accent-color);
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  @keyframes rotate16 {
    to {
      transform: rotate(360deg);
    }
  }
  .radio-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
  
  .radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .radio-button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .radio-button__input:checked + .radio-button__label .radio-button__custom {
    transform: translateY(-50%) scale(0.9);
    border: 5px solid var(--primary-color);
    color: var(--primary-color);
  }
  
  .radio-button__input:checked + .radio-button__label {
    color: var(--primary-color);
  }
  
  .radio-button__label:hover .radio-button__custom {
    transform: translateY(-50%) scale(1.2);
    border-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color)80;
  }
  
  .skills, .projects, .bio, .contact{
    width: 98%;
    height: 90%;
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem;    
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 4;
    padding: 0 !important;
  }
  .skills:hover{
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  .projects:hover{
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  .bio:hover{
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  .contact:hover{
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

@media (max-width: 720px) {
    .control{
        width: 100%;
        height: 35%;
        flex-direction: column;
    }
    .preview{
        height: 65%;
    }
    .radio-buttons-container{
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    .radio-button__label{
        font-size: smaller;
    }

    .footer{
        margin-top: 0 !important;
    }

    .svg-frame {
        visibility: hidden;
        width: 180px;
        height: 0px;
      }
    
      .svg-frame svg {
        width: 360;
        height: 360;
      }
    
      .svg-frame:hover svg {
        transform: rotate(-80deg) skew(30deg) translateX(calc(30px * var(--i))) translateY(calc(-25px * var(--i)));
      }
    
      .svg-frame:hover svg #center {
        transform: rotate(-30deg) translateX(30px) translateY(-2px);
      }
}