<div class="app-container ">
    <div class="header">
        <!-- Header content -->
         <app-header></app-header>
    </div>
    <div class="panel-container">
        <div class="panel left-panel text-center d-flex flex-column justify-content-center align-items-center">
            <div class="bio text-center">
                <div style="background-color: transparent; width: 90%;">
                    <app-bio></app-bio>
                </div>
            </div>
            <div class="contact text-center">
                <div style="background-color: transparent; width: 90%;">
                    <app-contact></app-contact>
                </div>
            </div>           
        </div>
        <div class="panel center-panel text-center d-flex flex-column justify-content-center align-items-center">
            <!-- Center panel content -->
             <img src="../../../assets/img/Angel_Moreno.png" alt="">
             <div class="fs-1 fw-bold" style="margin-bottom: -.5rem;">Angel Moreno</div>
             <div class="fs-3 fw-light">Developer</div>

              
        </div>
        <div class="panel right-panel text-center d-flex flex-column justify-content-center align-items-center">
            <div class="skills text-center">
                <div style="background-color: transparent; width: 90%;">
                    <app-skills></app-skills>
                </div>
               
            </div>
            <div class="projects text-center">
                <div style="background-color: transparent; width: 90%;">
                    <app-projects></app-projects>
                </div>
            </div>        
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center flex-column m-3">
        <!-- Header content -->
        <div class="divider m-3"></div>
        <div class="footer-text fw-lighter">&copy; {{ currentYear }} | Angel Moreno.</div>

    </div>
    <div class="blob"></div>

</div>