<div class="app-container">
    <div class="header">
        <!-- Header content -->
         <app-header></app-header>
    </div>
    <div class="panel-container">
        <div class="panel left-panel">
            <!-- Left panel content -->
            Left Panel
        </div>
        <div class="panel center-panel">
            <!-- Center panel content -->
            Center Panel
        </div>
        <div class="panel right-panel">
            <!-- Right panel content -->
            Right Panel
        </div>
    </div>
</div>