@import '../../../assets/styles/vars.scss';

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Evita el scroll en el contenido */
}

.header {
    width: 100%; /* Ocupa todo el ancho disponible */
    z-index: 2; /* Asegura que el header esté sobre los paneles */
}

.panel-container {
    display: flex;
    flex: 1; /* Ocupa todo el espacio restante vertical */
    align-items: center;
    justify-content: center;
}

.panel {
    height: 100%;
    box-sizing: border-box;
    z-index: 4;

}

.left-panel {
    width: 30%;
    margin: .5rem;
}

.skills, .projects, .bio, .contact{
    width: 100%;
    height: 50%;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem;    
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 4;
    padding: 0 !important;
}

.center-panel{
    width: 40%;
}

img{
    width: 100%;
    height: auto;
    border-bottom: 10px solid var(--primary-color);
}

.right-panel {
    width: 30%;
    margin: .5rem;
}

.divider{
    width: 98%;
    border-top: 1px solid var(--primary-color);
}

.footer-text{
    font-size: small;
}

.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-image: linear-gradient(var(--primary-color) 10%, var(--primary-color));
    filter: blur(250px);
    transition: all 450ms ease-out;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 1;
    overflow: hidden !important;
}