.container {
  width: 100%;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
}

.card-title {
  position: absolute;
  top: 0;  
  left: 0;
  width: 100%;
  z-index: 2;
  height: auto;
  margin-top: 1rem !important;

}

.name{
  color: var(--primary-color);
}

.subname{
  margin-top: -1rem; 
  color: var(--secondary-color);
}

.skill-front-end {
  flex: 1;
  overflow-y: auto;
  z-index: 1;
  padding: 1rem;
}

.skill {
  margin-top: 0.5rem;
}

.title {
  text-align: start;
}

.progress {
  background-color: var(--secondary-color);
  height: 0.3rem;
  border-radius: 0;
}

.progress-bar {
  background-color: var(--primary-color);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus {
  outline: none;
}

button:hover {
  color: var(--accent-color);
}

.next {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1350px) {
  .card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .name{
    margin-right: 1rem;
    font-size: larger !important;
  }

  .subname{
    margin-top: 0px;
    font-size: larger !important;
  }

  .skill-front-end {
    padding: 0.75rem;
  }

  .skill .title {
    font-size: small;
  }

  button {
    font-size: 20px;
  }
}

@media (max-width: 780px) {
  .card-title {
    font-size: small;
  }

  .skill-front-end {
    margin-top: 2rem;
    padding: 0.5rem;
  }

  .skill .title {
    font-size: 0.875rem;
  }

  button {
    font-size: 18px;
  }
}