.container{
  width: 100%;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-title{
  position: absolute;
  top: 0;  
  left: 0;
  width: 100%;
  z-index: 2;
  height: auto;
}

.skill-front-end {
  margin-top: auto !important; /* Espacio para el título */
  flex: 1;
  overflow-y: auto;
  z-index: 1;
  padding: 1rem; /* Ajusta según sea necesario */
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.skill{
  margin-top: .5rem;
}

.title{
  text-align: start;
}

.progress{
  background-color: var(--secondary-color);
  height: .3rem;
  border-radius: 0;
}

.progress-bar{
  background-color: var(--primary-color);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus {
  outline: none;
}

button:hover{
  color: var(--accent-color);
}

.next{
  position: absolute;
  bottom: 0;
  right: 0;
}


@media (max-width: 780px) {
  .card-title {
    font-size: small; /* Ajusta el tamaño de fuente para pantallas pequeñas */
  }

  .skill-front-end {
    margin-top: 2rem;
    padding: 0.5rem; /* Reduce el padding para pantallas pequeñas */
  }

  .skill .title {
    font-size: 0.875rem; /* Ajusta el tamaño de fuente para pantallas pequeñas */
  }
}