/* You can add global styles to this file, and also import other style files */
@import './assets/styles/vars.scss';

*{
  font-family: var(--global-font-family);
  padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body, html {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  margin: 0;
  padding: 0;
}