@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #93FFFB ;
    --secondary-color: #20788C;
    --background-color: #041A28;
    --text-color: #ffffff;
    --secondary-text-color: #97A1BA;
    --accent-color: #ed8831 ;
    --global-font-family: 'Montserrat', sans-serif;
}
  
.dark-theme {
    --primary-color: #93FFFB ;
    --secondary-color: #20788C;
    --background-color: #041A28;
    --text-color: #ffffff;
    --secondary-text-color: #97A1BA;
    --accent-color: #ed8831 ;
}
  
.light-theme {
    --primary-color: #176273 ;
    --secondary-color: #011C26;
    --background-color: #fff;
    --text-color: #000;
    --secondary-text-color: #97A1BA;
    --accent-color: #ed8831 ;
}