:root {
    --primary-color: #76c9d6 ;
    --secondary-color: ##106371;
    --background-color: #07081C;
    --text-color: #ffffff;
    --accent-color: #ed8831 ;
    --global-font-family: , sans-serif;
}
  
.dark-theme {
    --primary-color: #76c9d6 ;
    --secondary-color: ##106371;
    --background-color: #07081C;
    --text-color: #ffffff;
    --secondary-text-color: ##97A1BA;
    --accent-color: #ed8831 ;
}
  
.light-theme {
    --primary-color: ##0D6973;
    --secondary-color: #00080D;
    --background-color: #ffffff;
    --secondary-text-color: ##97A1BA;
    --text-color: #07081C;
    --accent-color: ##F2762E;
}